h1{
  padding-top: 20px;
  color: #4286f4;
}
p{
  color: #1956b7;
  padding-bottom: 20px;
}
div{
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  border: solid 5px #97b9ef;
  background-color: #dce6f7;
}
